@charset "UTF-8";

/* ------------------- PROFESIONALES ---------------- */
.fa-filter {
  margin-left: 0.5rem;
}

.search2 {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
}

.search2 input[type="search"] {
  height: 2.625rem;
  border-radius: 2.375rem;
  padding: 0.625rem 1.813rem;
  border: 2px solid #CED4DA;
  background: url(images/icon-search.svg) no-repeat 92% 50%;
  background-size: 1.5rem;
}

.filtro-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.813rem;
  background: linear-gradient(to left, #009C7C, #79AE43);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid;
}

.filtro-btn:hover {
  color: #38a461;
  background-color: white;
  border: 2px solid #38a461;
  background: transparent;
}

/* ------------------- CARTAS PROFESIONALES -------------------*/

.cartas-profesionales {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carta-1,
.carta-2,
.carta-3 {
  position: relative;
  width: 330px;
  height: 339px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(41, 41, 41, 0.2);
}

.carta-1 a,
.carta-2 a,
.carta-3 a,
p {
  margin-left: 20px;
}

.carta-1 a,
.carta-2 a,
.carta-3 a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;

}

.carta-1 a:hover,
.carta-2 a:hover,
.carta-3 a:hover {
  color: rgb(0, 156, 124);
}

.paginacion {
  text-align: center;
}

.paginacion a {
  display: inline-block;
  margin: 0 5px;
  /* Esto agrega un poco de espacio entre los enlaces para que no estén pegados */
}

.paginacion a:first-child,
.paginacion a:last-child {
  margin: 0;
  padding: 0;
}

#profesionales .container {
  width: 100%;
}

.cartas-profesionales .carta-1,
.cartas-profesionales .carta-2,
.cartas-profesionales .carta-3 {
  margin: 5%;
  /* Agrega un margen entre las cartas para mejorar el espaciado */
  justify-content: space-between;
}

.carta-1 img,
.carta-2 img,
.carta-3 img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.valoracion {
  float: right;
  margin-right: 20px;
}

/*-------------------   VALORACION ESTRELLAS  -------------------*/

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  font-size: 30px;
}


.rating .checked {
  color: #009C7C;
}

.rating2 {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  font-size: 30px;
}

.rating2 .checked {
  color: #009C7C;
}

.rating3 {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  font-size: 30px;
}

.rating3 .checked {
  color: #009C7C;
}

/*-------------------   PAGINACION  -------------------*/

.paginacion {
  display: block;
  text-align: center;
  /* Centrar los elementos en la sección */
  padding-bottom: 50px;
}

.paginacion a {
  color: black;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
}

.paginacion a:nth-child(2) {
  background: linear-gradient(to left, #009C7C, #79AE43);
  color: white;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid rgb(0, 156, 124);
}

.paginacion a:nth-child(3),
.paginacion a:nth-child(4) {
  background-color: white;
  color: rgb(0, 156, 124);
  border-radius: 50%;
  margin: 0 5px;
  /* Ajusta el margen entre los elementos */
  border: 2px solid rgb(0, 156, 124);
}


@media screen and (max-width:1200px) {
  .search2 {
    padding: 0 3%;
  }

  .carta-1,
  .carta-2,
  .carta-3 {
    height: 360px;
  }

  .carta-3 {
    display: none;
  }
}

/* ------------------- TABLET ------------------- */
@media screen and (max-width:991px) {

  .cartas-profesionales {
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en filas adicionales */
    margin: 0;
    /* Elimina el margen horizontal para adaptarse al ancho de la pantalla */
  }

  .carta-profesional {
    flex-basis: 100%;
    /* Una carta por fila */
  }

  .cartas-profesionales .carta-1{
    margin-bottom: 10%;
  }

  .carta-2 {
    display: none;
  }

  .search2 {
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 10px 0;
  }

  .search2 .form-control {
    display: none;
  }

  .search2 input[type="search"] {
    width: auto;
  }

  .filtro-btn {
    width: auto;
  }

  .cartas-profesionales {
    flex-direction: row;
    justify-content: center;
  }

  .carta {
    margin: 0 20px;
  }

  .valoracion {
    margin-top: 0;
  }

}


/* ------------------- MOBILE ------------------- */
@media screen and (max-width:767px) {

  .cartas-profesionales {
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en filas adicionales */
    margin: 0;
    /* Elimina el margen horizontal para adaptarse al ancho de la pantalla */
  }

  .carta-profesional {
    flex-basis: 100%;
    /* Una carta por fila */
  }
}

@media screen and (max-width:575px) {
  .cartas-profesionales {
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en filas adicionales */
    margin: 0;
    /* Elimina el margen horizontal para adaptarse al ancho de la pantalla */
  }

  .carta-profesional {
    flex-basis: 100%;
    /* Una carta por fila */
  }
}