@charset "UTF-8";

/* ------------------- GRUPOS ---------------- */

#grupos .container {
  width: 100%;
}

.fa-filter {
  margin-left: 0.5rem;
}

.search2 {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
}

.search2 input[type="search"] {
  height: 2.625rem;
  border-radius: 2.375rem;
  padding: 0.625rem 1.813rem;
  border: 2px solid #ced4da;
  background: url(images/icon-search.svg) no-repeat 92% 50%;
  background-size: 1.5rem;
}

.filtro-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.813rem;
  background: linear-gradient(to left, #009c7c, #79ae43);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid;
}

.filtro-btn:hover {
  color: #38a461;
  background-color: white;
  border: 2px solid #38a461;
  background: transparent;
}

#talleres .container {
  width: 100%;
}

/*Formulario*/
.seccion-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
}

.form-title {
  color: #11334b;
  font-family: "Lora", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.formulario {
  width: 50%;
  padding-right: 1rem;
}

.form-pregunta {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-text {
  color: #11334b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 1rem;
}

.form-action {
  margin-top: 2rem;
  float: right;
}

.formulario textarea {
  padding: 23px 30px 23px 40px;
  border-radius: 38px;
  border: 2px solid #ced4da;
}

.imagen-lateral {
  width: 50%;
  height: auto;
  padding-left: 1rem;
}

.imagen-lateral img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.grupos-demandados {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.grupos-title {
  color: #11334b;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 2rem;
}

.grupos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.grupo-1,
.grupo-2,
.grupo-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 281px;
  padding: 1.5rem;
  background-color: white;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #79ae43, #009c7c);
}

.grupo-title {
  color: #11334b;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.grupo-text {
  color: #11334b;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paginacion {
  text-align: center;
}

.paginacion a {
  display: inline-block;
  margin: 0 5px;
  /* Esto agrega un poco de espacio entre los enlaces para que no estén pegados */
}

.paginacion a:first-child,
.paginacion a:last-child {
  margin: 0;
  padding: 0;
}

.paginacion {
  display: block;
  text-align: center;
  /* Centrar los elementos en la sección */
  padding-bottom: 50px;
  margin-top: 2rem;
}

.paginacion a {
  color: black;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
}

.paginacion a:nth-child(2) {
  background: linear-gradient(to left, #009c7c, #79ae43);
  color: white;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid rgb(0, 156, 124);
}

.paginacion a:nth-child(3),
.paginacion a:nth-child(4) {
  background-color: white;
  color: rgb(0, 156, 124);
  border-radius: 50%;
  margin: 0 5px;
  /* Ajusta el margen entre los elementos */
  border: 2px solid rgb(0, 156, 124);
}

/*Responsive*/

@media screen and (max-width: 991px) {
  .formulario {
    padding: 0;
  }

  .grupo-3 {
    display: none;
  }

  .search2 {
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 10px 0;
  }

  .search2 .form-control {
    display: none;
  }

  .formulario {
    width: 100%;
  }

  .imagen-lateral {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .grupo-2 {
    display: none;
  }

  .grupos {
    flex-direction: row;
    justify-content: center;
  }
}