@charset "UTF-8";

/* ------------------- TALLERES ---------------- */
.fa-filter {
  margin-left: 0.5rem;
}

.search2 {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
}

.search2 input[type="search"] {
  height: 2.625rem;
  border-radius: 2.375rem;
  padding: 0.625rem 1.813rem;
  border: 2px solid #CED4DA;
  background: url(images/icon-search.svg) no-repeat 92% 50%;
  background-size: 1.5rem;
}

.filtro-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.813rem;
  background: linear-gradient(to left, #009C7C, #79AE43);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid;
}

.filtro-btn:hover {
  color: #38a461;
  background-color: white;
  border: 2px solid #38a461;
  background: transparent;
}

#talleres .container {
  width: 100%;
}

/*-------------------   PAGINACION  -------------------*/

.paginacion {
  display: block;
  text-align: center;
  /* Centrar los elementos en la sección */
  padding-bottom: 50px;
}

.paginacion a {
  color: black;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
}

.paginacion a:nth-child(2) {
  background: linear-gradient(to left, #009C7C, #79AE43);
  color: white;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid rgb(0, 156, 124);
}

.paginacion a:nth-child(3),
.paginacion a:nth-child(4) {
  background-color: white;
  color: rgb(0, 156, 124);
  border-radius: 50%;
  margin: 0 5px;
  /* Ajusta el margen entre los elementos */
  border: 2px solid rgb(0, 156, 124);
}

.paginacion {
  text-align: center;
}

.paginacion a {
  display: inline-block;
  margin: 0 5px;
  /* Esto agrega un poco de espacio entre los enlaces para que no estén pegados */
}

.paginacion a:first-child,
.paginacion a:last-child {
  margin: 0;
  padding: 0;
}

/* Estilo para los talleres */
.taller {
  width: 30%; /* Ajusta el ancho según tus preferencias */
  float: left; /* Hace que los talleres floten a la izquierda */
  margin: 10px; /* Agrega márgenes entre los talleres para mejorar la apariencia */
  box-sizing: border-box; /* Incluye el padding y el border en el ancho y alto */
}

/* Borra el flotador después de cada fila de talleres */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Estilo para las imágenes dentro de los talleres */
.taller img {
  width: 100%; /* Ajusta el ancho de la imagen para que se ajuste al contenedor */
  height: auto; /* Hace que la altura se ajuste automáticamente para mantener la proporción */
}

/* Estilo para el título y la descripción dentro de los talleres */
.taller .TITULO, .taller .text-wrapper {
  text-align: center; /* Centra el texto */
  margin: 10px 0; /* Agrega márgenes superior e inferior para mejorar la apariencia */
}
.workshop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.workshop {
  width: calc(33.33% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.workshop img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.workshop-content {
  padding: 15px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  font-size: 30px;
}


.rating .checked {
  color: #009C7C;
}

.rating2 {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  font-size: 30px;

}

.rating2 .checked{
  color: #009C7C;
}

.rating3 {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  font-size: 30px;
}

.rating3 .checked{
  color: #009C7C;
}
.valoracion{
  float: right;
  margin-right: 20px;
}

@media screen and (max-width:1200px) {
  .search2 {
    padding: 0 3%;
  }
}

/* ------------------- TABLET ------------------- */
@media screen and (max-width:991px) {

  .workshop {
    width: calc(50% - 20px);
  }
  .search2 {
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 10px 0;
  }

  .search2 .form-control {
    display: none;
  }

  .search2 input[type="search"] {
    width: auto;
  }

  .filtro-btn {
    width: auto;
  }

}


/* ------------------- MOBILE ------------------- */
@media screen and (max-width:767px) {
  .workshop {
    width: 100%;
  }
}

@media screen and (max-width:575px) {

  
}